  /* .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    /* width: 100%;
    height: 100%; *
    display: flex;
    animation-fill-mode: forwards;


  }

  #loading{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 9999;
    display: flex;

  }
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); *
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: black;
    }
    50% {
      transform: scaleY(1);
      background: yellowgreen;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
   */









.wrapper{
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
filter: blur(10px) contrast(10);
}
.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,2000,20000,5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}



.centered{
width:400px;
height:400px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
width:70px;
height:70px;
position:absolute;
background:#fff;
border-radius:50%;
top:50%;left:50%;
transform:translate(-50%,-50%);
}
.blob-1{
left:20%;
animation:osc-l 2.5s ease infinite;
}
.blob-2{
left:80%;
animation:osc-r 2.5s ease infinite;
background:#0ff;
}
@keyframes osc-l{
0%{left:20%;}
50%{left:50%;}
100%{left:20%;}
}
@keyframes osc-r{
0%{left:80%;}
50%{left:50%;}
100%{left:80%;}
}

.all-loader {
display: flex;
height: 100vh;
align-items: center;
justify-content: center;
    padding:0;
  margin:0;
  width:100%;
  height:100vh;
  background:#000;
}

@keyframes arrows {
0%,
100% {
  color: white;
  transform: translateY(0);
}
50% {
  color: #0ff;
  transform: translateY(5px);
}
}

.span {
--delay: 0s;
animation: arrows 1s var(--delay) infinite ease-in;
}


#loading{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 9999;
  display: flex;

}


  
  @keyframes arrow {
  0%,
  100% {
    color: white;
    transform: translateY(0);
  }
  50% {
    color: #0ff;
    transform: translateY(5px);
  }
  }
  
  .spans {
  --delay: 0s;
  animation: arrow 1s var(--delay) infinite ease-in;
  }


  @media (min-width:450px) and (max-width:2400px) {
    .mobile-loader{
      display: none;
    }
    
  }

  @media (min-width: 280px) and (max-width: 420px){

    .all-loader{
      display: none !important;
    }


.mobile-loader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
    width:100%;
    z-index: 10000000 !important;
    background-color:#000;
    position: fixed;
  }
  /* #mobile-loader{
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999999999 !important;
    display: flex;

  } */
  }